:root {
				--main-content-background: #0c0c0d;
				--header-footer-background: #111113;
				--sidebar-background: #151519;
				/* Reference Internal*/
				--reference-internal-text-color: #12d52a;
				/* l1 tree */
				--l1-tree-element-background: #1e1e24;
				--l1-tree-element-hover-background: #2e2e38;
				--l1-tree-element-current-and-hover-background: #33333d;
				/* l2 element */
				--l2-element-background: #25252c;
				--l2-element-hover-background: #2c2c35;
				/* l2 element current */
				--l2-element-current-and-hover-background: #41414e;
				/* content */
				--content-text-color: #fbfbf8;
				--content-h1-color: #1761c2;
				--content-h2-color: #3e88e8;
				--content-h3-color: #69a4f1;
}

ul {
				margin: 0;
				padding: 0;
				list-style-position: outside;
				display: block;
}

.l1-tree {
				margin: 0;
}

ul li {
				list-style-type: none;
				display: block;
}

a {
				text-decoration: none;
				color: var(--reference-internal-text-color);
}

/* Main Page Structure */

.root {
				height: 100vh;
				width: 100vw;
				overflow-x: hidden;
				margin: 0;
				display: grid;
				grid-template-areas:
								"nav content";
				grid-template-columns: 300px 1fr;
				grid-template-rows: 100vh;
}

.scrollable-container {
				scrollbar-color: var(--l2-element-current-and-hover-background) var(--sidebar-background);
				scrollbar-width: thin;
}

::-webkit-scrollbar {
				width: 5px;
}

::-webkit-scrollbar-thumb {
				background-color: var(--l2-element-current-and-hover-background);
				border-radius: 10px;
}

::-webkit-scrollbar-track {
				background: var(--sidebar-background);
}


.dd-nav {
				grid-area: nav;
				display: grid;
				grid-template-areas:
								"side-bar-logo"
								"side-bar-content";
				grid-template-columns: subgrid;
				grid-template-rows: min-content auto;
				background-color: var(--sidebar-background);
				overflow-y: scroll;
}

.dd-content {
				grid-area: content;
				overflow-y: auto;
				overflow-x: hidden;
				display: grid;
				min-width: 0;
				grid-template-areas:
								"header"
								"main-page"
								"footer";
				grid-template-columns: subgrid;
				grid-template-rows: 10px auto 30px;
				color: var(--content-text-color);
				font-size: 20px;
				background-color: var(--header-footer-background);
}

/* Content Structure */

.dd-header {
				grid-area: header;
				background-color: var(--header-footer-background);
				padding-left: 20px;
				box-sizing: border-box;
				min-width: inherit;
}

.dd-main {
				grid-area: main-page;
				background-color: var(--main-content-background);
				padding: 20px 40px 100px 40px;
				box-sizing: border-box;
				min-width: inherit;
				font-family: "Rubik", sans-serif;
				font-weight: 400;
				font-size: 18px;
				line-height: 1.4;
}

.dd-footer {
				grid-area: footer;
				background-color: var(--header-footer-background);
				padding-top: 5px;
				padding-left: 20px;
				box-sizing: border-box;
				min-width: inherit;
				font-size: 17px;
}

.dd-footer {
				color: #2e2e33;
}

.dd-footer > a {
				color:#323239;
				text-decoration: underline #323239;
}

/* Nav Bar Structure */

.side-bar-logo {
				grid-area: side-bar-logo;
}

.scroll-side-bar {
				grid-area: side-bar-content;
}

/* Side Bar Tree */

.dd-nav li.current > button.tree-expand:before {
				content: "-";
}

.dd-nav li > button.tree-expand:before {
				content: "+";
				font-weight: bold;
				color: var(--reference-internal-text-color)
}

.dd-nav li > button.tree-expand {
				width: 1.1em;
				border: none;
				background: none;
				text-align: center;
				font-size: 24px;
				grid-area: button;
}

.l1-header, .l2-header {
				display: flex;
}


.dd-nav  li > ul {
				display: none;
}

.dd-nav li.current > ul {
				display: block;
}

.l1-tree-element, .l2-element, .l1-element {
				display: grid;
				grid-template-areas:
								"button link-lable"
								"sub-tree sub-tree";
				grid-template-columns: min-content 1fr;
				grid-template-rows: min-content auto;
				margin: 0;
}

.l1-tree-element, .l1-element {
				background-color: var(--l1-tree-element-background);
}

.l1-tree-element:hover, .l1-element:hover {
				background-color: var(--l1-tree-element-hover-background);
}

.l1-tree-element.current {
				background-color: var(--l1-tree-element-current-and-hover-background);
}

.l2-element{
				background-color: var(--l2-element-background);
}

.l2-element:hover {
				background-color: var(--l2-element-hover-background);
}

.l1-tree-element > a.reference-internal, .l1-element > a.reference-internal {
				padding: .5em .7em .5em .5em;
				box-sizing: border-box;
				font-size: 16px;
}

.l2-element > a.reference-internal {
				padding-left: 3.25em;
				padding-top: .3em;
				padding-bottom: .3em;
				font-size: 15.5px;
}

.reference-internal {
				grid-area: link-lable;
				box-sizing: border-box;
				margin: 0;
				font-family: "Raleway", sans-serif;
				font-weight: 500;
}

.logo {
				max-width: 100%;
				box-sizing: border-box;
				padding: 25px 60px 15px 60px;
}

.l2-tree {
				grid-area: sub-tree;
}

.l1-element > a.reference-internal {
				padding-left: 35px;
}

.side-bar-header {
				padding: .5em .5em .5em .5em;
				box-sizing: border-box;
				margin: 0;
				font-size: 20px;
				color: #0163fb;
				background-color: #131416;
				font-family: "Raleway", sans-serif;
}

.l2-element.current, .l2-element.current:hover {
				background-color: var(--l2-element-current-and-hover-background);
}

.mc-img {
				
}

.reference-external {
				color: var(--reference-internal-text-color);
				text-decoration: underline var(--reference-internal-text-color);
}

.dd-main > h1 {
				font-family: "Rubik", sans-serif;
				font-weight: 800;
				font-size: 40px;
				color: var(--content-h1-color);
				margin: 0 0 15px 0;
}

section > h2 {
				font-family: "Rubik", sans-serif;
				font-weight: 600;
				font-size: 28px;
				color: var(--content-h2-color);
				margin: 0 0 15px 0;
}

section > h3 {
				font-family: "Rubik", sans-serif;
				font-weight: 600;
				font-size: 24px;
				color: var(--content-h3-color);
				margin: 0 0 15px 0;
}

.mc-ul {
				list-style-position: outside;
				margin: 0;
				padding: 0 0 0 27px;
}

.mc-ul > li {

				list-style: square;
				color: white;
				display: revert;
}

section > p {
				margin: 0 0 13px 0;
				font-size: 16px;
}

picture > img {
				margin: 0 0 13px 0;
				box-sizing: border-box;
				max-width: 100%;
				display: block;
}

section {
				margin: 0 0 30px 0;
}


/*
   * Images to a constant width
   * fonts that arn't shit
   * possible borders arround images
*/