:root {
				--main-content-background: #0c0c0d;
				--header-background: #151519;
				--footer-background: #1c1c22;
				--sidebar-header-background: #151519;
				--sidebar-scroll-background: #151519;
				/* l1 tree */
				--l1-tree-background: #000000;
				--l1-tree-hover-background: #000000;
				--l1-tree-current-background: #000000;
				--l1-tree-current-hover-background: #000000;
				/* l2 tree */
				--l2-tree-background: #000000;
				--l2-tree-hover-background: #000000;
				/* content */
				--content-text-color: #c4c4cf;
}

ul {
				margin: 0;
				padding: 0;
				list-style-position: outside;
				display: block;
}

.side-bar-tree {
				margin: 0px 20px 0px 0px;
}

ul li {
				list-style-type: none;
				display: block;
}

a {
				text-decoration: none;
				color: black;
}

/* Main Page Structure */

.root {
				height: 100vh;
				margin: 0;
				display: grid;
				grid-template-areas:
								"nav content";
				grid-template-columns: 300px 1fr;
				grid-template-rows: 100vh;
}



.dd-nav {
				grid-area: nav;
				display: grid;
				grid-template-areas:
								"side-bar-header"
								"side-bar-content";
				grid-template-columns: subgrid;
				grid-template-rows: min-content auto;
}

.dd-content {
				grid-area: content;
				overflow-y: auto;
				display: grid;
				grid-template-areas:
								"header"
								"main-page"
								"footer";
				grid-template-columns: subgrid;
				grid-template-rows: 20px auto 30px;
				color: var(--content-text-color);
				font-size: 20px;
}

/* Content Structure */

.dd-header {
				grid-area: header;
				background-color: var(--header-background);
}

.dd-main {
				grid-area: main-page;
				background-color: var(--main-content-background);
}

.dd-footer {
				grid-area: footer;
				background-color: var(--footer-background);
}

/* Nav Bar Structure */

.header-side-bar {
				grid-area: side-bar-header;
				background-color: var(--sidebar-header-background);
}

.scroll-side-bar {
				overflow-y: scroll;
				grid-area: side-bar-content;
				background-color: var(--sidebar-scroll-background);
}

/* Side Bar Tree */

.dd-nav li.current div > button.tree-expand:before {
				content: "-";
}

.dd-nav li div > button.tree-expand:before {
				content: "+";
}

.dd-nav li div > button.tree-expand {
				width: 20px;
				border: none;
				background: none;
				font-size: 20px;
}

.l1-header, .l2-header {
				display: flex;
}


.dd-nav  li > ul {
				display: none;
}

.dd-nav li.current > ul {
				display: block;
}

.l1-tree, .l2-tree {
				min-height: 20px;
				margin: 0;
}

.l1-tree, .l1-tree.current:hover {
				background-color: #848484;
}

.l1-tree:hover {
				background-color: #707070;
}


.l2-tree, .l2-tree.current:hover {
				background-color: #b5b5b5;
}

.l2-tree:hover {
				background-color: #adadad;
}


.side-tree-noto-sans-400 {
				font-family: "side-tree-font", sans-serif;
				font-optical-sizing: auto;
				font-weight: 500;
				font-style: normal;
				font-variation-settings: "wdth" 100;
}

.l1-tree div.l1-header > a.reference-internal {
				padding-left: 2px;
				padding-right: 10px;
				padding-top: 5px;
				padding-bottom: 5px;
				font-size: 16px;
}

.l2-tree div.l2-header > a.reference-internal {
				padding-left: 35px;
				padding-top: 2px;
				padding-bottom: 2px;
				font-size: 15.5px;
}

.reference-internal {
				flex: 1;
				display: flex;
				box-sizing: border-box;
				margin-top: 0;
				margin-bottom: 0;
				margin-right: 0;
				margin-left: 0;
				font-family: 'side-tree-font'
}

.logo {
				max-width: 100%;
				box-sizing: border-box;
				padding: 25px 60px 15px 60px;
}